{{ define "main" }}
<main aria-role="main">
    <div class="container" id="container">
        <!-- Page Content goes here -->
        <div class="row">

            <div class="col s12 m9 l9">
                <article class="card">
                    <div class="card-stacked">
                        <div class="card-content">
                            <h1>{{ .Title }}</h1>
                            {{ .Content }}
                        </div><!--/card-content-->
                        <div class="card-action">
                            Posté le: {{ .Date.Format "02.01.2006 15:04" }}
                            {{ if .Params.tags }}
                            <p>
                                <strong>Etiquette(s):</strong>
                                {{ range .Params.tags }}
                                    <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
                                {{ end }}
                            </p>
                            {{ end }}
                        </div><!--/card-action-->
                    </div><!--/card-stacked-->
                </article><!--/card-->
            </div><!--/col-->

            {{- partial "sidebar.html" . -}}

        </div><!--/row-->
    </div><!--/container-->
</main>
{{ end }}